<div class = "row">
    <div class="col-md-12">
        <h1>
            {{title}} {{!-Employees (Managers)-}}
            <a href="/employees/add" class = "btn btn-success pull-right" style="margin-top:5px;">Add&nbsp;New&nbsp;Employee</a>
        </h1>
        <hr />
    </div>
</div>
<div class = "row">
    <div class = "col-md-12">
        <div class = "table-responsive">
            <table class ="table">
            <thead>
                <tr>
                    <th>Employee&nbsp;Num</th>
                    <th>Full&nbsp;Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Manager&nbsp;ID</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Hired&nbsp;On</th>
                    <th></th>
                </tr>
            </thead>
            <h5 class="align-center">Employee Contacts</h5>
            <input type="text" id="filterInput" placeholder="Search name.."></input>
            <tbody id="names" class="collection with-header">
                {{#each data}}
                <tr class="collection-item">
                    <td>{{{employeeNum}}}</td>
                    {{!-- TODO: search employee name --}}
                    <td><a id = "employeesName" href="/employee/{{employeeNum}}">{{firstName}}&nbsp;{{last_name}}</a></td>
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
                    <td>{{addressStreet}}&nbsp;{{addresCity}}&nbsp;{{addressState}}&nbsp;{{addressPostal}}</td>
                    <td><a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></td>
                    <td><a href="/employees?status={{status}}">{{status}}</a></td>
                    <td><a href="/employees?department={{department}}">{{department}}</a></td>
                    <td>{{hireDate}}</td>
                    <td><a href="/employee/delete/{{employeeNum}}" class="btn btn-danger">remove</a></td>
                </tr>
                {{else}}
                <tr>
                    <td>No&nbsp;Data&nbsp;Available</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>{{/each}}
            </tbody>
            </table>
            <div>
                <tbody>
                    {{#each departmentTitle}}
                    <tr id="departmentName">
                        <td >{{departmentName}}</td>
                    </tr>
                    <script>
                        var departmentName = document.getElementById("departmentName");
                        console.log(departmentName);
                    </script>
                    {{/each}}
                </tbody>
            </div>
            <div>
                <canvas id="myChart" width="100%" height="100%" style="display: block; height: 500px; width: 500px;"></canvas>
            </div>
                <script>
                    var ctx = document.getElementById("myChart");
                    var departmentName = document.getElementById("departmentName");
                    console.log(departmentName);
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            //labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>